footer {
  background: url(/assets/img/bg-footer.jpg) center/cover;

  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .left-footer {
    width: 50%;
  }

  .right-footer {
    width: 50%;
  }
}
